.ActionButton {
    padding: 10px 30px;
    border-width: 0;
    margin: 0 5px;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    background-color: #2ecc71;
    color: #ecf0f1;
    transition: background-color .3s;
    
}
.ActionButton:focus {
    background-color: #27ae60;
}

.ActionButton:hover {
    background-color: #2df782;
    
}