<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='images/logo2.svg') }}" width="30" height="30" alt="">
        <label>Signature verification</label>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upload">Upload</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/verify">Verify</a>
            </li>
        </ul>
    </div>
</nav>
<style>
    nav a label{
        padding: 0 0.25em;
    }
</style>
